@font-face {
    font-family: 'Lato';
    src: url('../resources/Lato/Lato-Regular.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../resources/Lato/Lato-Black.ttf') format('truetype'); 
}

  
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

section {
    color: black;
}

.box {
    border: 5px solid black;
    width: 80%;

    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 1cm;
    background-color: aliceblue;
}

.titulos {
    text-align: center;
    color: green;
    font-family: 'Lato-Black';
}

.texto{
    color: black;
    text-align: justify;
    margin: 3%;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: normal;
}

.listaMundoAntiguo {
    columns: 3;
    color: black;
    font-family: 'Lato';
    font-size: 18px;
    font-weight:normal;
}

.menu{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    text-align:end;    
}

.mundo-derecho{
    float: left;
}

.menu ul{
    list-style: none;  
}

.menu ul li {
    display: inline-block;
    border: 2px solid black;
    border-radius: 45px;
    /*background-color: rgb(158, 153, 153);*/
    
}

.menu ul li a {
    display: block;
    padding: 10px 20px;
    color: 'rgb(0, 0, 0, 0.5)';
    text-decoration: none;
    
}

.menu ul li a:hover {
    background-color: rgb(71, 70, 70);
    border-radius: 45px;
    color: white;
}

.imagen-mundo {
    display: inline-block;
    position: relative;
    text-align: center;
    column-gap: 10px;
}

.imagen-mundo img {
    position: relative;
    width: 300px;
    height: 200px;
    margin-right: 10px;
    max-width: 100%;
    list-style: none;
    margin-bottom: 0.5cm;
}
