@font-face {
    font-family: 'Lato';
    src: url('../resources/Lato/Lato-Regular.ttf') format('truetype'); 
    
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../resources/Lato/Lato-Black.ttf') format('truetype'); 
}

body {
    position: relative;
    margin: 0;
}
  
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

section {
    color: black;
}

.box {
    border: 5px solid darkblue;
    width: 80%;
    height: 50%;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 8%;
    background-color: aliceblue;
}

.titulos {
    text-align: center;
    color: green;
    font-family: 'Lato-Black';
}

.texto{
    color: black;
    text-align: justify;
    margin-right: 3%;
    margin-left: 3%;
    font-family: 'Lato';
    font-size: 18px;
}

.listaMundoAntiguo {
    columns: 3;
    color: black;
    font-family: 'Lato';
}